.gray {
	position: relative;
	text-align:  center;
	color: ghostwhite;
	border-radius: 150%;
}

.centered {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-0%, -100%);
  }

body {
	font-family: 'Festive', cursive;
	font-size: 25px;
}

.noline {
	text-decoration: none;
}

.button {
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 25px;
}

#journey .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;